<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.edu.itba.hci.q2.g4.androidapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:parentActivityName=".NavigationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".PurchasesActivity"
            android:label="@string/title_activity_purchases_activity"
            android:parentActivityName=".Profile2Activity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Profile2Activity" />
        </activity>
        <activity
            android:name=".PurchaseDetailActivity"
            android:label="@string/title_activity_purchase_detail_activity"
            android:parentActivityName=".PurchasesActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PurchasesActivity" />
        </activity>

        <receiver
            android:name=".UpdatesReceiver"
            android:exported="false" >
            <intent-filter android:priority="1" >
                <action android:name="ar.edu.itba.hci.q2.g4.androidapp.UPDATE_ORDER_INTENT" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/help"
            android:parentActivityName=".Main">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />

        </activity>

        <activity android:name=".AsyncActivity" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="ar.edu.itba.hci.q2.g4.androidapp.SET_ALARM_INTENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".UpdatesIntentService"
            android:exported="true" >
        </service>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".Main">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />

        </activity>
        <activity
            android:name=".ProductDetailActivity"
            android:label="@string/product_detail"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubSubcategoryActivity" />
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/categories_title"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".SubcategoryActivity"
            android:label="@string/subcategories_title"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoryActivity" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".SubSubcategoryActivity"
            android:label="@string/subsubcategories_title"
            android:parentActivityName=".SubcategoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubcategoryActivity" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/tools"
            android:theme="@style/Settings"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Profile2Activity"
            android:label="@string/profile"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
    </application>

</manifest>
